.content-btn{
    padding: 30px 20px;

    &__button {
        @include button();
        width: 275px;
        margin: 0 auto;
        padding: 10px 20px;
        font-size: 15px;
        color: white;
        background-color: $blue-common;
        border-radius: 5px;

        &:hover {
            background-color: $hover-button;
        }
    }
}