.preloader {
    position: fixed;
    inset: 0;
    background-color: rgba(235, 235, 235, 0.9);
    z-index: 500;

    display: none;
    align-items: center;
    justify-content: center;

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        margin-top: 40px;
        color: $blue-common;
    }

    svg {
        animation: spin 1.4s linear infinite;
    }

    .stroke {
        stroke: #ff7f50;
        stroke-width: 6px;
        stroke-linecap: round;
        stroke-dasharray: 187px;
        stroke-dashoffset: 0;
        transform-origin: center;
        animation: stroke 1.4s ease-in-out infinite;
    }

    &--show {
        display: flex;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes stroke {
    0% {
        stroke-dashoffset: 187px;
    }

    50% {
        stroke-dashoffset: calc(187px / 4);
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187px;
        transform: rotate(450deg);
    }
}